<h1> EDIT THIS </h1>

<h2> <%= @thought.subject %> </h2>

<form method="POST" action="/thoughts/<%= @thought.id %>">
    
        <input type="hidden" id="hidden" name="_method" value="PATCH">

    <p> Subject: <input type="text" name="subject" value="<%= @thought.subject %>" ></p>
    <p> Details: <input type="text" name="details" value="<%= @thought.details %>"></p>

    <p> Sentiments: <input type="text" name="sentiment" value="<%= @thought.sentiment %>"></p>

    
    <br><br>
    
    Intrusive:
    <input type="radio" name="intrusive" id="intrusiveChoice1" value="true">
    <label for="intrusiveChoice1">YES</label>

    <input type="radio" name="intrusive" id="intrusiveChoice2" value="false">
    <label for="intrusiveChoice2">NO</label>
    
    <br><br>

    Logical:
    <input type="radio" name="logical" id="logicalChoice1" value="true">
    <label for="logicalChoice1">YES</label>

    <input type="radio" name="logical" id="logicalChoice2" value="false">
    <label for="logicalChoice2">NO</label>

    <br><br>
    


    <input type="submit">





</form>